<div class="container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form [formGroup]="registerForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Your Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error *ngIf="registerForm.controls['email'].invalid">
                    {{registerForm.controls['email'].hasError('required')?'Email is required':'Please a enter valid email'}}

                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your User name</mat-label>
                <input matInput formControlName="username" />
                <mat-error *ngIf="registerForm.controls['username'].invalid">
                    {{registerForm.controls['username'].hasError('required')?'Username is required' : 'Username cannot be longer than 10 characters'}}

                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your Password</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error *ngIf="registerForm.controls['password'].invalid">
                    {{registerForm.controls['password'].hasError('required')?'Password is required' :'Password should be alteast 6 characters'}}

                </mat-error>
            </mat-form-field>
            
            <div class="button-container">
                <button mat-raised-button color="primary" class="login-button" (click)="submit()">Submit</button>
                <p>OR</p>
                <button mat-button routerLink="/login">Already have an account</button>
            </div>
        </form>
    </div>
</div>
